.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/
*.vsix

# 确保包含 LSP 二进制文件
!../target/release/aether-lsp
!../target/debug/aether-lsp